@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    color: lightslategrey;
}

.box {
    background-color: #fff;
    width: 350px;
    position: relative;
}

h3 {
    color: rgb(121, 204, 170);
}

h3 span {
    color: grey;
    font-weight: 500;
}

.box .formRegister {
    font-family: 'Poppins', sans-serif;
    border: 2px solid lightslategray;
    outline: none;
    width: 280px;
    color: lightslategrey;
    transition: 0.8s;
}

.box .registerSubmit[type="submit"] {
    border: 2px solid rgb(121, 204, 170);
    outline: none;
    width: 280px;
    display: flex;
    justify-content: center;
    background: none;
    color: lightslategrey;
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.box .registerSubmit[type="submit"]:hover {
    background: rgb(121, 204, 170);
    color: white;
}

@media (min-width:768px) {
    .box {
        width: 450px;
    }

    .box .formRegister {
        width: 300px;
    }

    .box .registerSubmit[type="submit"] {
        width: 300px;
    }
}
