.boxRegis .formRegister:focus {
    border: 2px solid rgb(121, 204, 170);
}

.boxRegis .registerSubmit[type="submit"] {
    border: 2px solid rgb(121, 204, 170);
    outline: none;
}

.boxRegis .registerSubmit[type="submit"]:hover {
    background: rgb(121, 204, 170);
    color: white;
}

@media (min-width: 340px) {
    .boxRegis {
        width: 360px;
    }

    .img {
        display: none;
    }

    .boxRegis .formRegister {
        margin: auto;
        display: flex;
        width: 200px;
        justify-content: center;
    }

    .boxRegis .registerSubmit[type="submit"] {
        margin: auto;
        display: flex;
        justify-content: center;
        background: none;
    }

    .show {
        display: flex;
        margin: auto;
        width: 280px;
        justify-content: center;
    }

    .createAkun {
        display: flex;
        margin: auto;
        justify-content: center;
    }

    .boxRegis .registerSubmit[type="submit"] {
        width: 200px;
    }
}

@media (min-width: 576px) {
    .boxRegis {
        width: 500px;
    }

    .img {
        display: none;
    }

    .boxRegis .formRegister {
        margin: auto;
        display: flex;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
        border: 2px solid lightslategray;
        outline: none;
        width: 290px;
        color: lightslategrey;
        transition: 0.8s;
    }

    .boxRegis .registerSubmit[type="submit"] {
        margin: auto;
        display: flex;
        justify-content: center;
        width: 300px;
        background: none;
        color: lightslategrey;
        border-radius: 10px;
        transition: 0.2s;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
    }

    .show {
        display: flex;
        margin: auto;
        width: 280px;
    }

    .createAkun {
        display: flex;
        margin: auto;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .boxRegis {
        background-color: #fff;
        width: 700px;
    }

    .img {
        display: block;
    }

    .createAkun {
        display: flex;
        margin: auto;
        width: 280px;
        justify-content: start;
    }

    .show {
        width: 280px;
        justify-content: start;
    }
}
